<main class="main">
  <section class="main__form-container">
    <form action="GET" class="main__form">
      <label for="text">¿Qué serie quieres buscar?</label>
      <input
        id="text"
        type="text"
        class="search js-search"
        placeholder="ej:Game of Thrones"
        required
        value="witcher"
      />
      <input type="button" value="Search" class="btn js-btn" />
    </form>
  </section>
  <aside class="main__favourites">
    <ul class="main__favourites--list js-favourite-list"></ul>
  </aside>
  <section class="main__results">
    <ul class="main__results--list js-results-list"></ul>
  </section>
</main>
