.header {
  display: flex;
  justify-content: center;
  &__container {
    width: 580px;
    height: 30vh;
    border-radius: 5px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem 0;
  }
  &__image {
    width: 250px;
  }
  &__title-container {
    text-align: center;
    padding: 0 10px;
    &--title {
      text-transform: uppercase;
      font-family: $font-title;
      font-size: 70px;
      color: $color-primary;
    }
    &--miniTitle {
      text-transform: capitalize;
      font-family: $font-main;
      font-size: 35px;
      letter-spacing: 1px;
      color: $color-tertiary;
    }
  }
}
