.main {
  font-family: $font-main;
  background-image: url(../../assets/images/platea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  @media all and (min-width: 768px) {
    height: 72vh;
  }
  &__form-container {
    padding: 20px;
    text-align: center;
    &--input-title {
      color: $color-secondary;
      font-size: 20px;
      @media all and (min-width: 768px) {
        font-size: 25px;
      }
    }
    &--search {
      width: 290px;
      height: 45px;
      padding-left: 10px;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      color: $color-tertiary;
      outline-style: none;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        width: 350px;
        margin-bottom: 0;
      }
    }
    &--btn {
      background-color: $color-tertiary;
      width: 80px;
      height: 35px;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      color: $color-secondary;
      outline-style: none;
      margin-left: 10px;
    }
    &--btn:active {
      transform: scale(0.9);
    }
  }
  &__results-container {
    display: flex;
  }
  &__favourites {
    display: none;
    border-right: 3px solid white;
    height: 61vh;
    overflow-y: scroll;
    width: 25vw;
    padding-left: 40px;
    margin-top: 20px;
    @media all and (min-width: 768px) {
      display: inline;
    }

    &--title {
      font-size: 27px;
      color: $color-secondary;
      display: inline;
      margin-right: 18px;
    }
    &--button {
      background-color: $color-tertiary;
      width: 110px;
      height: 33px;
      font-size: 17px;
      border-radius: 5px;
      border: none;
      color: $color-secondary;
      outline-style: none;
    }
    &--button:active {
      transform: scale(0.9);
    }
  }
  &__results {
    height: 63vh;
    overflow-y: scroll;
    width: 75vw;
    margin: auto;
    color: $color-secondary;
    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 10px 90px;
      padding: 15px 0 35px 0;
      border-radius: 5px;
      .show-container {
        text-align: center;
        width: 250px;
        height: 390px;
      }
    }
  }
  .fav-list {
    color: $color-secondary;
    font-size: 20px;
    list-style-type: none;
  }
  .fav-container {
    display: flex;
  }
  .fav-list-title {
    margin-top: 15px;
  }
  .delete-button {
    margin: 50px 0 0 50px;
    width: 10px;
    height: 10px;
    padding: 12px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-title;
    font-size: 18px;
    outline-style: none;
    background-color: $color-tertiary;
    color: $color-secondary;
  }
  .not-found-message {
    font-size: 80px;
    font-family: $font-secondary;
    text-align: center;
    transform: translate(200px, 50px);
  }
}
